body {
    background-color: #FBEDD9;
}

#header {
    height: 10vh;
}

#landingPage {
    width: 100%;
    height: 90vh;
}

#page {
    height: 100vh;
    width: 500vw;
}




/* styles applicable a plusieurs choses */

/* Aligne les intems d'un parent au centre */
.alignItemsCenter {
  display: grid;
  place-items: center;
}

/* Aligne les intems d'un parent a gauche */
.alignItemsLeft {
  display: grid;
  place-items: center start;
}

/* met le height a 100% */
.height100 {
    height: 100%;
}

/* change la taille des h1 */
h1 {
    font-size: 100px;
}

/* change le style des boutton du navbar */
.navButton {
  background-color: #003049;
  color: #FCBF49;
  border: none;
  text-align: center;
  font-size: 25px;
  width: 90%;
  height: 80%;
}

/* change le style du a */
a {
    color: #FCBF49;
}

/* aplique un style au images de projets video */
.imgProjetVideo {
    height: 60vh;
    width: 20vw;
    transform: skew(20deg, -0deg) translateX(7vw) rotate(-5deg);
    display: inline;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 15%;
}

/* rajoute du vide a gauche d'un element */
.spacer {
    margin-left: 10vw;
}






/*styles simple*/

#photoProfil {
    height: 80vh;
}

.navButtonMain {
  background-color: #003049;
  color: #FCBF49;
  border: none;
  text-align: center;
  font-size: 25px;
  width: 50%;
  height: 80%;
  margin-left: 2.5%;
}

.projo {
    transform: translate(-130px, 210px) rotate(-30deg);
}

.camera{
    transform: translate(-10vw, -800px) rotate(-30deg);
}