<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
    <link rel="stylesheet" href="/portfolio-Felix-Lavoie/style.css">
    <title>Projets</title>
</head>

<body id="app">
    <!-- Header -->
<header id="header" class="">
    <!-- navbar -->
    <nav class="height100 phone100Vh">
        <div class="row height100 flex-md-row flex-column ">
            <div class="col-md-4 alignItemsLeft"><a href='/portfolio-Felix-Lavoie/index.html' class="navButtonMain navButton alignItemsCenter">Accueil</a></div>
            <div class="col-md-2 alignItemsCenter"><a href="/portfolio-Felix-Lavoie/assets/page/projets.html?cat=video" class="navButton alignItemsCenter">Projets Vidéo</a></div>
            <div class="col-md-2 alignItemsCenter"><a href="/portfolio-Felix-Lavoie/portfolio-Felix-Lavoie/assets/page/projets.html?cat=3d" class="navButton alignItemsCenter">Projets 3d</a></div>
            <div class="col-md-2 alignItemsCenter"><a href="/portfolio-Felix-Lavoie/assets/page/projets.html?cat=photo" class="navButton alignItemsCenter">Projets Photos</a></div>
            <div class="col-md-2 alignItemsCenter"><a href="/portfolio-Felix-Lavoie/assets/page/projets.html?cat=autres" class="navButton alignItemsCenter">Autres Projets</a></div>
        </div>
    </nav>
</header>

    <!-- body -->

    </div>
        <div class="container height100 margin100" v-for="data in projetsArr">
            <div :id="data.id" v-if="cat === data.cat">
            <h1 class="alignItemsCenter pb-3">{{ data.name }}</h1>
            <img :src="data.img" alt="" class="imgProjet">
            <p class="fs-2 pt-5">{{ data.description }}</p>
            <p class="fs-2 pt-5">{{ data.desc2 }}</p>
            <a v-if="data.video" class="fs-3" :href="data.video">Lien</a>
        </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script defer src="/portfolio-Felix-Lavoie/script.js"></script> 
</html>